body{
    
  color: white;
    
}
.main{
    /* background:#B0C4DE; */
    margin:auto;
    padding:5mm;
}
h1{
    border:4px solid grey;
    padding:5mm;
    background-color:#350fd0;
    color: white;
}
hr{
    /* border: 2px solid rgb(2, 254, 23); */
    /* border: 20px; */
}
.home{
    /* background:#B0C4DE; */
    margin:auto;
    padding:5mm;

}

table{
    font-family:Arial, sans-serif;
    border-collapse:collapse;
    width:100%;
}

td,th{
    border:2px solid black;
    text-align:center;
    padding:5px;
}
tr:nth-child(even){
    /* background:rgb(131, 120, 192); */
}
th{
    border:1px black;
    text-align:center;
    padding:2px;
}
.res{
    text-align:center;
}
.est{
    text-align:center;
}
.hr{
    border:0.5px solid black;}
    /* <!-- HTML !-->
    <button class="button-43" role="button">Button 43</button> */
    
    /* CSS */
    .button-43 {
        margin: 4px;
      background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
      border-radius: .5rem;
      box-sizing: border-box;
      color: #FFFFFF;
      /* display: flex; */
      font-size: 16px;
      justify-content: center;
      padding: 1rem 1.75rem;
      text-decoration: none;
      width: 40%;
      border: 0;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-43:hover {
      background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
    }
    
    @media (min-width: 768px) {
      .button-43 {
        padding: 1rem 2rem;
      }
    }
    table, th, td {
        border: 2px solid white;
        border-collapse: collapse;
      }
      th, td {
        /* background-color: #96D4D4; */
      }
.Adjusting{
    display: flex;
    justify-content: center;
    align-items: center;
    

}   
.Adjusting > strong{
    width: 20%;
    text-align: left;
}
.Adjusting > label{
    width: 15%;
    text-align: left;
    margin: 2px;
}
.goback{
    border: 2px solid white;
    background-color: rgb(244, 7, 7);
    border-radius: 10px;
    color: white;
}
.goback:hover{
    background-color: rgb(241, 54, 54);
    
}
select{
    width: 204px;
}

