.myNavbar {
  background-color: #0e2439;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  margin-right: 2rem;
}

.navbar-nav {
  margin-left: 1rem;
  display: flex;
  justify-content: flex-start;
}

.nav-link {
  margin-right: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  color: #ffc107;
}

/* Button styles */
.mysubmit {
  background-color: #ffc107;
  width: 8rem;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.mysubmit:hover,
.mysubmit:focus {
  background-color: #fcb700;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}



.signup-btn {
  background-color: #28a745;
  transition: background-color 0.3s ease;
}

.signup-btn:hover,
.signup-btn:focus {
  background-color: #218838;
}

/* Hover underline animation */
.hover-underline-animation {
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #ffc107;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
}

/* Active nav link style */
.myNavbar .nav-link.active {
  color: #ffc107;
}

/* Right-aligned nav items (Login, Sign Up, Logout) */
.right-nav-items {
  margin-left: auto; /* Push to the right */
  display: flex; /* To arrange buttons horizontally */
  align-items: center; /* Vertically align buttons */
}

.right-nav-items .nav-item {
  margin-left: 10px; /* Add some space between buttons */
}

/* Responsive navbar adjustments */
@media (max-width: 768px) {
  .mysubmit {
    padding: 0.5rem 1rem;
  }

  /* Stack items vertically on mobile */
  .right-nav-items {
    margin-left: 0;
    flex-direction: column; /* Stack buttons vertically on small screens */
  }
}
.navbar-toggler{
  background-color: #ffc107;
}

@media (min-width: 769px) {
    .mysubmit {
        display: none !important;
    }
}
